name: build-windows

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Build
        shell: cmd
        run: |
          build.bat

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: WwReaBridge-windows
          path: dist/*

      - name: Create GitHub Release and upload exe
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.exe
          generate_release_notes: true
